<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "es.appinsti"
        version     = "1.0.0"
        versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.1.0" />

    <name>App instituto</name>

    <description>
       App Instituto
    </description>

    <author href="" email="">
        Mario Estevez
    </author>

    <gap:plugin name="org.apache.cordova.battery-status" />
    
</widget>
